extends ../layout

block content
  h1.text-center #{title} 
  .container.d-flex.justify-content-center.align-items-center
    table.table.table-striped.mt-4
      thead
        tr
          th # 
          th Name
          th Surname
          th Team
      tbody
        each driver, index in drivers
          tr
            td= index + 1
            td= driver.name
            td= driver.surname
            td= driver.team.name
    a.btn.btn-primary.mt-4(href="/admin/drivers/new") Add New Driver