extends ../layout

block content
    h1.text-center #{title} 
    .container(style="max-width: 600px;")
        form(action="/app/predictions" method="POST" class="mt-4" style="width: 400px;") 
            .mb-3.d-flex.align-items-center
                label(for="circuitId" class="form-label me-3") Circuit 
                select#circuitId.form-select(name="circuitId" required)
                    option(value="" selected disabled) Select a circuit 
                    each circuit in circuits 
                        option(value=circuit.id) #{circuit.city}
            .mb-3.d-flex.align-items-center
                label(for="prediction1" class="form-label me-3") Prediction 1 
                select#prediction1.form-select(name="prediction1" required)
                    option(value="" selected disabled) Select a driver 1 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center
                label(for="prediction2" class="form-label me-3") Prediction 2 
                select#prediction2.form-select(name="prediction2" required)
                    option(value="" selected disabled) Select a driver 2 
                        each driver in drivers 
                            option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center
                label(for="prediction3" class="form-label me-3") Prediction 3 
                select#prediction3.form-select(name="prediction3" required)
                    option(value="" selected disabled) Select a driver 3 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center
                label(for="prediction4" class="form-label me-3") Prediction 4 
                select#prediction4.form-select(name="prediction4" required)
                    option(value="" selected disabled) Select a driver 4 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction5" class="form-label me-3") Prediction 5 
                select#prediction5.form-select(name="prediction5" required)
                    option(value="" selected disabled) Select a driver 5 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction6" class="form-label me-3") Prediction 6 
                select#prediction6.form-select(name="prediction6" required)
                    option(value="" selected disabled) Select a driver 6 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction7" class="form-label me-3") Prediction 7 
                select#prediction7.form-select(name="prediction7" required)
                    option(value="" selected disabled) Select a driver 7 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction8" class="form-label me-3") Prediction 8 
                select#prediction8.form-select(name="prediction8" required)
                    option(value="" selected disabled) Select a driver 8 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction9" class="form-label me-3") Prediction 9 
                select#prediction9.form-select(name="prediction9" required)
                    option(value="" selected disabled) Select a driver 9 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}
            .mb-3.d-flex.align-items-center 
                label(for="prediction10" class="form-label me-3") Prediction 10 
                select#prediction10.form-select(name="prediction10" required)
                    option(value="" selected disabled) Select a driver 10 
                    each driver in drivers 
                        option(value=driver.id) #{driver.name} #{driver.surname}

            button.btn.btn-primary(type="submit") Create Prediction
            a.btn.btn-secondary.ms-2(href="/app/predictions") Cancel  
